.maincaption {
  padding-right: 32px;
}

.maincaption > span {
  font-size: 48px;
  letter-spacing: -3px;
}

.catchphrase {
  font-size: 12px;
  margin-top: 50px;
}

.onlymobile {
  display: inline;
}

.mdl-menu__outline.mdl-menu--bottom-left, .mdl-menu__container.is-upgraded
{
  width: 149.063px !important;
  height: 270px !important;
}

.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect.mdl-js-ripple-effect--ignore-events {
  clip: rect(0px 149.063px 270px 0px) !important;
}

.mdl-menu {
  min-width: 64px !important;
}

ul, ol {
  font-size: 12px !important;
  line-height: 24px !important;
}

.mdl-menu__item {
  font-size: 12px;
  height: 36px;
  line-height: 36px;
}

#logoimage {
  height: 64px;
  width: 64px;
}

.fab {
  margin-top: 1px;
  font-size: 18px;
  height: 28px;
  min-width: 28px;
  width: 28px;
  padding: 0 5px;
}

body {
  line-height: 5px;
}
