body, html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    background: url("../images/sitebg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    color: #FFFFFF;
    display: table;
}


.maincaption {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-size: 128px;
    font-weight: 100;
    letter-spacing: -8px;
}

img#logoimage {
    display: inline-block;
    padding-top: 10px;
    vertical-align: text-top;
}

#main-menu {
  margin-left: 10px;
  margin-top: 10px;
}

.fab {
  margin-top: 25px;
}
