/* Fade in animation */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body, html { height: 100%; font-family: 'Lato', sans-serif; }

body { 
  background: url("../images/sitebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 100%;
    margin: 0;
    color: #FFFFFF;
}


.maincaption { position: absolute; text-align: center; top: 50%; width: 100%; font-size: 128px; font-weight: 100; box-sizing: border-box; letter-spacing: -8px;}

.fab {
    background-color: #4EC38F;
    border-radius: 50%;
}

img#logoimage {
    display: inline-block;
    padding-top: 10px;
    vertical-align: text-top;
}